.main-content {
	margin-top: 1em;

	.causerie-title {
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
	}
	.causerie-description {
		margin-top: 0;
		margin-bottom: 20px;
		color: rgba(0,0,0,0.6);
	}
	.causerie-stats {
		li {
			list-style-type: disc;
			margin-left: 1.4em;
		}
	}
	.wpeo-autocomplete .autocomplete-label {
		padding: 0.6em;
	}
}

.table.causerie-step-3 {
	.avatar {
		float: left;
		margin-right: 10px;
	}
	.participant {
		display: block;
		line-height: 50px;
	}
}

.step-2 {
	.owl-nav {
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		position: absolute;
		top: 0;
		div {
			width: auto;
			height: auto;
		}

		div.owl-next {
			margin-left: auto;
		}

	}

	.owl-dots {
		margin: 50px;
		.active button{
			color: blue !important;
		}
	}
	.owl-dots .owl-dot button {
	  background: none;
	  border: none;
	  padding-right: 10px;
	  color: #555555;
	  font-size: 50px;
	  font-weight: bold;
	  cursor: pointer;
	}

}

h2 {
	font-size: 2.2em;
	line-height: 1em;
	margin: .200em 0 0 0;
}

.step {
	.step-list {
		width: 100%;
		display: flex;
		.step {
			text-decoration: none;
			.title {
				padding-bottom: 0px;
				min-height: 30px;
			}
			&:after {
				position: relative;
				z-index: 90;
				display: block;
				margin: auto;
				content: '';
				width: 30px;
				height: 30px;
				top: 8px;
				background: #d6d6d6;
				border-radius: 50%;
				transition: all 0.2s ease-out;
			}
		}
	}
}
