.main-content {
	margin-top: 1em;

	.causerie-title {
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
	}
	.causerie-description {
		margin-top: 0;
		color: rgba(0,0,0,0.6);
	}
	.causerie-stats {
		li {
			list-style-type: disc;
			margin-left: 1.4em;
		}
	}
	.wpeo-autocomplete .autocomplete-label {
		padding: 0.6em;
	}
}

.table.causerie-step-3 {
	.avatar {
		float: left;
		margin-right: 10px;
	}
	.participant {
		display: block;
		line-height: 50px;
	}
}

.owl-prev {
	float: left;
	font-size: 200px;
	width: 15px;
	height: 100px;
	position: absolute;
	top: 40%;
	border: 0px solid black;
}

.owl-next {
	float: left;
	width: 15px;
	font-size: 200px;
	height: 100px;
	position: absolute;
	top: 40%;
	right: 45px;
	display: block !important;
	border: 0px solid black;
}

.owl-dots{
	margin: 50px;
	.active button{
		color: blue !important;
	}
}
.owl-dots .owl-dot button {
  background: none;
  border: none;
  padding-right: 10px;
  color: #555555;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.step-list {
	width: 100%;
	display: flex;
	.step {
		&:after {
			position: relative;
			z-index: 90;
			display: block;
			margin: auto;
			content: '';
			top: -26px;
			width: 14px;
			height: 14px;
			background: #d6d6d6;
			border-radius: 50%;
			transition: all 0.2s ease-out;
		}
	}
}
