.digirisk-wrap {
	.modal-signature {
		canvas {
			width: 100%;
			height: 100%;
			border: solid black 1px;
		}
	}

	.signature {
		max-width: 300px;
	}
}

.wrap-causerie {
	table.closed-causerie, table.start-causerie, table.final-causerie, table.add-causerie {
		td {
			height: auto;
		}
		th {
			height: 50px;
		}
		tr {
			min-height: 50px;
		}
	}
}
