/**
 * .cotation -> classe de base
 * .default-cotation -> par défaut
 * .level1 -> cotaiton 0
 * .level2 -> cotation 48
 * .level4 -> cotation 51
 * .level5 -> cotation 80
 * .method -> cotation personnalisée
 */
.digirisk-wrap {

	.cotation {
		width: 50px;
		min-width: 50px;
		height: 50px;
		text-align: center;
		transition: all 0.2s ease-out;
		> * {
			line-height: 50px;
		}
		.icon {
			font-size: 16px;
		}
		&:hover {
			cursor: pointer;
		}
		&.default-cotation {
			&:hover {
				background: rgba(0,0,0,0.1);
			}
		}
		&.level1 {
			background: #e2e2e2;
			color: rgba(0,0,0,0.6);
			&:hover {
				background: darken(#e2e2e2, 8%);
			}
		}
		&.level2 {
			background: $yellow;
			color: #fff;
			&:hover {
				background: darken($yellow, 8%);
			}
		}
		&.level3 {
			background: $red;
			color: #fff;
			&:hover {
				background: darken($red, 8%);
			}
		}
		&.level4 {
			background: #2b2b2b;
			color: #fff;
			&:hover {
				background: darken(#2b2b2b, 8%);
			}
		}
		&.method {
			background: $primary;
			color: #fff;
			&:hover {
				background: $primary_dark;
			}
		}
	}

}
