/**
 * Evaluation method
 */
.digirisk-wrap {
	border-collapse: collapse;
	.table-evaluation {
		th, td {
			text-align: center;
			white-space: normal;
			padding: 12px 16px;
		}
		td {
			border: 1px solid #d6d6d6;
		}
		tbody {
			tr {
				&:nth-of-type(even) {
					background: #fff;
				}
				td:nth-of-type(odd) {
					background: rgba(0,0,0,0.1);
				}
				td:nth-of-type(even) {
					background: #fff;
				}
				td:first-child {
					background: #3e4851;
					color: #fff;
					font-weight: 600;
				}
			}
			td {
				transition: all 0.2s ease-out;
				&:hover {
					cursor: pointer;
					&:nth-of-type(odd) {
						background: rgba(0,0,0,0.2);
					}
					&:nth-of-type(even) {
						background: rgba(0,0,0,0.1);
					}
					&:first-child {
						background: #3e4851;
						cursor: auto;
					}
				}
				&.active {
					background: $primary !important;
					color: #fff;
				}
			}
		}
		@media ( max-width: 480px ) {
			display: table;
			thead {
				display: table-header-group;
			}
			tbody {
    		display: table-row-group;
			}
			tfoot {
				display: table-footer-group;
			}
			tr {
				display: table-row;
			}
			td, th {
				display: table-cell;
			}
		}
	}
	.popup-evaluation {
		.result-method {
			text-align: center;
			padding: 20px;
			white-space: normal;
			> * {
				display: inline-block;
			}
			p {
				margin-right: 6px;
				font-weight: 600;
			}
			.cotation {
				border: 1px solid rgba(0,0,0,0.1);
				pointer-events: none;
			}
		}
	}

}
