/**
 * Table design
 * .table -> classe principale
 * .media
 * .action -> Boite contenant les actions sur une ligne
 * 		.task
 * 		.edit
 * 		.delete
 * .w50 -> cellule de 50px
 * .w100 -> cellule de 100px
 * .wm130 -> cellule de 130px minimum
 * .w150 -> cellule de 150px
 * .full -> cellule de 100%
 * .padding -> Ajoute un padding à la cellule de 8px sur les côtés
 */
.digirisk-wrap .flex-table {
	width: 100%;
	border: 1px solid rgba(0,0,0,0.1);

	/* table general */
	.col, .header-cell, .cell {
		height: auto;
		text-align: left;
	}
	.col {
		display: flex;
		height: 50px;
		flex-wrap: nowrap;
	}
	.col.advanced {
		display: block;
		height: auto;

		.col {
			width: 100%;
			background: transparent !important;
		}
		.advanced {
			padding: 8px;
		}
	}
	.cell, .header-cell {
		width: 100%;
		margin: auto 0;
	}
	strong {
		font-weight: 700;
		color: $primary;
	}

	/* table header */
	> .table-header {
		background: $secondary;
		color: #fff;
		.header-cell {
			font-weight: 600;
		}
		.col {
			background: $secondary !important;
		}
		.icon {
			padding-right: 4px;
		}
	}

	/* table body */
	> .table-body {
		.col {
			&:nth-child(odd) {
				background: #fff;
			}
			&:nth-child(even) {
				background: rgba(0,0,0,0.1);
			}
		}
		.advanced {
			width: 100%;
			min-width: 100%;
			&::after {
				display: block;
				content: '';
				clear: both;
			}
		}

		.comment-container {
			.comment {
				display: flex;
				flex: 0 1 auto;
				> * {
					margin: auto 0;
				}
				.content {
					white-space: normal;
					line-height: 1.3;
				}
				* {
					color: rgba(0,0,0,0.7);
				}
				.delete, .add {
					width: 20px;
					min-width: 20px;
					height: 20px;
					line-height: 20px;
					padding: 0 !important;
					text-align: center;
					border-radius: 50%;
					font-size: 10px;
					i {
						transition: all 0.2s ease-out;
					}
				}
				.delete {
					margin-left: 4px;
					background: rgba(0,0,0,0.1);
					i {
						color: rgba(0,0,0,0.2);
					}
					&:hover i {
						color: $red;
					}
				}
			}
			.comment ~ .new.comment {
				padding-top: 4px;
				border-top: 1px solid rgba(0,0,0,0.1);
			}
			.new.comment {
				line-height: 2;
				.date {
					font-weight: 400;
				}
				.add {
					margin-left: 4px;
					background: $primary;
					i {
						color: #fff;
					}
					&:hover {
						background: $primary_dark;
					}
				}
			}
		}

		canvas {
			background: #fff;
			border: 1px solid rgba(0,0,0,.2);
		}
		.canvas-eraser {
			width: 20px;
			min-width: 20px;
			height: 20px;
			line-height: 20px;
			padding: 0!important;
			text-align: center;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			font-size: 10px;
			background: $grey;
			color: rgba(0,0,0,0.4);
			transition: all 0.2s ease-out;
			&:hover {
				background: rgba(0,0,0,0.2);
				cursor: pointer;
			}
		}
	}

	/* table body */
	> .table-footer {
		border-top: 1px solid rgba(0,0,0,0.05);
	}

	/* media */
	.media {
		background: rgba(0,0,0,0.1);
		&.no-file .add {
			color: rgba(0,0,0,0.6);
		}
		.default-image {
			color: rgba(0,0,0,0.3);
		}
	}

	/* action */
	.action {
		flex-wrap: nowrap;
		.task:hover .icon {
			color: rgba(0,0,0,0.6);
		}
		.edit:hover .icon {
			color: $primary;
		}
		.delete {
			background: rgba(0,0,0,0.05);
			&:hover .icon {
				color: $red;
			}
		}
		.add, .save {
			margin-left: auto;
			.icon {
				color: #fff !important;
			}
		}
	}
}

.digirisk-wrap .flex-table {
	input.affect {
		width: 50px;
	}
	input[type="text"], textarea {
		width: 100%;
	}

	/* cell manual width */
	.cell.w50, .header-cell.w50 {
		width: 50px;
		min-width: 50px;
	}
	.cell.w70, .header-cell.w70 {
		width: 70px;
		min-width: 70px;
	}
	.cell.w100, .header-cell.w100 {
		width: 100px;
		min-width: 100px;
	}
	.cell.w150, .header-cell.w150 {
		width: 150px;
		min-width: 150px;
	}
	.cell.w200, .header-cell.w200 {
		width: 200px;
		min-width: 200px;
	}

	/* cell manual min width */
	.cell.wm130, .header-cell.wm130 {
		min-width: 130px;
	}
	.cell.wm40, .header-cell.wm40 {
		min-width: 40px;
	}

	/* cell manual max width */
	.cell.wmax70 {
		max-width: 70px;
	}

	.cell.full, .header-cell.full {
		width: 100%;
		input[type="text"], textarea {
			width: 100%;
		}
	}
	.cell.padding, .header-cell.padding {
		padding-left: 8px;
		padding-right: 8px;
	}
}

.digirisk-wrap .flex-table {
	@media ( max-width: 1200px ) {
		.cell[class*="w"] {
			min-width: auto;
		}
	}
}

.digirisk-wrap .flex-table {
	@media ( max-width: 480px ) {
		.col {
			height: auto;
			min-height: 50px;
			flex-wrap: wrap;
		}
		.cell, .header-cell {
			line-height: 1;
		}
	}
}
