/**
 * Pagination
 */
.wp-digi-pagination {
	clear: both;
	float: right;
	display: inline-block;
	clear: both;
	border: 1px solid rgba(0,0,0,0.1);
	> .page-numbers {
		display: inline-block;
		float: left;
		background: #fff;
		padding: 6px 12px;
		text-decoration: none;
		margin: 0;
		height: 30px;
		&.current {
			padding: 6px 12px;
			background: $primary;
			color: #fff;
		}
		&.prev, &.next {
			background: rgba(0,0,0,0.1);
			color: rgba(0,0,0,0.2);
		}
	}
}
