/**
 * Table design
 * .table -> classe principale
 * .media
 * .cotation-container
 * .categorie-container
 * .comment-container
 * .action -> Boite contenant les actions sur une ligne
 * 		.task
 * 		.edit
 * 		.delete
 * .w50 -> cellule de 50px
 * .w100 -> cellule de 100px
 * .wm130 -> cellule de 130px minimum
 * .w150 -> cellule de 150px
 * .full -> cellule de 100%
 * .padding -> Ajoute un padding à la cellule de 8px sur les côtés
 */
.digirisk-wrap {

	.table {
		width: 100%;
		border: 1px solid rgba(0,0,0,0.1);
		td, th, tr {
			height: 50px;
			text-align: left;
			vertical-align: middle;
			white-space: nowrap;
		}
		> thead {
			background: $secondary;
			color: #fff;
			th {
				font-weight: 600;
			}
			tr {
				background: $secondary !important;
			}
			.icon {
				padding-right: 4px;
			}
		}
		> tbody {
			tr {
				&:nth-child(odd) {
					background: #fff;
				}
				&:nth-child(even) {
					background: rgba(0,0,0,0.1);
				}
			}
		}
		.media {
			background: rgba(0,0,0,0.1);
			&.no-file .add {
				color: rgba(0,0,0,0.6);
			}
			.default-image {
				color: rgba(0,0,0,0.3);
			}
		}
		strong {
			font-weight: 700;
			color: $primary;
		}
		.cotation-container {
			&.tooltip {
				&:hover {
					cursor: pointer;
				}
			}
			.content {
				flex-wrap: nowrap !important;
				flex-direction: row;
				background: #2b2b2b;
				border: 4px solid #2b2b2b;
				&:before {
					border-color: transparent transparent #2b2b2b transparent;
					top: -10px;
				}
			}
		}
		.categorie-container {
			.action {
				padding: 0 8px;
				transition: all 0.2s ease-out;
				img {
					float: left;
					max-width: 50px;
				}
				span, .icon {
					line-height: 49px;
					transition: all 0.2s ease-out;
					color: rgba(0,0,0,0.7);
				}
				.icon {
					margin-left: 10px;
				}
				&:after {
					display: table;
					content: '';
					clear: both;
				}
			}
			.content {
				width: 280px;
				.tooltip:hover {
					cursor: pointer;
				}
			}
		}
		.user {
			background: none;
			color: rgba(0,0,0,0.7);
			font-weight: 700;
		}
		.comment-container {
			padding-top: 6px;
			padding-bottom: 6px;
			.comment {
				display: flex;
				flex: 0 1 auto;
				line-height: 1.8;
				margin-top: 4px;
				input, textarea {
					height: 28px;
				}
				> * {
					margin: auto 0;
				}
				.date {
					font-weight: 700;
					width: 84px;
					margin: auto 4px;
					font-size: 13px;
				}
				.content {
					white-space: normal;
					line-height: 1.3;
				}
				* {
					color: rgba(0,0,0,0.7);
				}
				.delete, .add {
					width: 20px;
					min-width: 20px;
					height: 20px;
					line-height: 20px;
					padding: 0 !important;
					text-align: center;
					border-radius: 50%;
					font-size: 10px;
					i {
						transition: all 0.2s ease-out;
					}
				}
				.delete {
					margin-left: 4px;
					background: rgba(0,0,0,0.1);
					i {
						color: rgba(0,0,0,0.2);
					}
					&:hover i {
						color: $red;
					}
				}
			}
			.comment ~ .new.comment {
				padding-top: 4px;
				border-top: 1px solid rgba(0,0,0,0.1);
			}
			.new.comment {
				line-height: 2;
				.date {
					font-weight: 400;
				}
				.add {
					margin-left: 4px;
					background: $primary;
					i {
						color: #fff;
					}
					&:hover {
						background: $primary_dark;
					}
				}
			}
		}
		.action {
			flex-wrap: nowrap;
			.task:hover .icon {
				color: rgba(0,0,0,0.6);
			}
			.edit:hover .icon {
				color: $primary;
			}
			.delete {
				background: rgba(0,0,0,0.05);
				&:hover .icon {
					color: $red;
				}
			}
			.add, .save {
				margin-left: auto;
				.icon {
					color: #fff !important;
				}
			}
		}
		.avatar {
			width: 50px;
			height: 50px;
			min-width: 50px;
			text-align: center;
			span {
				line-height: 50px;
				color: #fff;
				font-size: 16px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
		input.affect {
			width: 50px;
		}
		tfoot {
			border-top: 1px solid rgba(0,0,0,0.05);
		}
		input[type="text"], textarea {
			width: 100%;
		}

		td.w50, th.w50 {
			width: 50px;
		}
		td.w100, th.w100 {
			width: 100px;
		}
		td.wm130, th.wm130 {
			min-width: 130px;
		}
		td.wm40, th.wm40 {
			min-width: 40px;
		}
		td.w150, th.w150 {
			width: 150px;
		}
		td.full, th.full {
			width: 100%;
			input[type="text"], textarea {
				width: 100%;
			}
		}
		td.padding, th.padding {
			padding-left: 8px;
			padding-right: 8px;
		}

		tr.edit {
			.categorie-container:hover {
				.action {
					background: rgba(0,0,0,0.1);
					&:hover {
						cursor: pointer;
					}
					span, .icon {
						color: #000;
					}
					.icon {
						animation-duration: 0.6s;
						animation-name: downAndUp;
					}
				}
			}
		}
		tr:not(.edit) {
			.cotation {
				pointer-events: none;
			}
		}
	}

	@media screen and (max-width: 1280px) {
		th, tr, td {
			padding: 0 !important;
		}
	}
	// @media screen and (max-width: 680px) {
	// 	table, tr, thead, tbody, tfoot, td, th {
	// 		display: block;
	// 		width: 100% !important;
	// 		height: auto !important;
	// 	}
	// 	thead tr {
	// 		display: none;
	// 	}
	// 	td {
	// 		position: relative;
	// 		border: 0px solid transparent;
	// 		padding-left: 50% !important;
	// 		white-space: normal;
	// 		text-align: right;
	// 		height: 50px !important;
	// 		line-height: 50px;
	// 		&:before {
	// 			position: absolute;
	// 			top: 0;
	// 			left: 0;
	// 			width: 35%;
	// 			padding: 2px 15px;
	// 			height: 100%;
	// 			white-space: nowrap;
	// 			text-overflow: ellipsis !important;
	// 			overflow: hidden !important;
	// 			text-align: left;
	// 			background: #f8f8f8;
	// 			content: attr(data-title);
	// 			font-weight: 800;
	// 			color: rgba(0,0,0,0.3);
	// 		}
	// 	}
	// }
	@media ( max-width: 480px ) {
		table, tr, thead, tbody, tfoot, td, th {
			display: block;
			width: 100% !important;
			height: auto !important;
		}
		.table > thead {
			display: none;
		}
		.table .risk-row {
			display: flex;
			flex-wrap: wrap;
			> td {
				width: 100%;
			}
		}
		.table .categorie-container .content {
			width: 230px;
		}
		.table > tfoot {
			background: #f1f1f1;
			padding-top: 4em;
			> tr {
				background: #fff;
			}
		}

		// Uniquement pour le tableau des risques
		.table.risk {
			.risk-row {
				padding: 1em !important;
				> td:nth-of-type(1) {
					width: 60% !important;
					display: flex;
					padding: 1em 0 !important;
					> span {
						width: 30%;
						font-size: 10px;
					}
					&:after {
						display: block;
						content: attr(data-title);
						width: 70%;
						padding-left: 4px;
						font-weight: 800;
					}
				}
				> td:nth-of-type(2), > td:nth-of-type(3), > td:nth-of-type(4) {
					width: 33.333333% !important;
					max-width: 33.333333%;
					padding-top: 0.4em !important;
					text-align: center;
					min-width: 0;
					.cotation, .media {
						margin: auto;
					}
					.categorie-container {
						.action {
							text-align: center;
						}
						.tooltip, .tooltip img {
							display: inline-block;
						}
					}
					&:before {
						display: block;
						content: attr(data-title);
						color: rgba(0,0,0,0.4);
						padding-bottom: 0.4em;
					}
				}
				> td:nth-of-type(6) {
					width: 40% !important;
					margin: auto 0;
					.action {
						display: block;
						text-align: right;
					}
					.button {
						width: 30px !important;
						border-radius: 50%;
						min-width: 30px;
						background: $grey;
						padding: 0 !important;
						height: 30px !important;
						display: inline-block;
						text-align: center;
						line-height: 30px;
						.dashicons {
							line-height: 30px !important;
						}
						&.green {
							background: $green;
						}
						&.blue {
							background: $primary;
						}
					}
				}
				.comment-container {
					.comment {
						flex-wrap: wrap;
						position: relative;
						margin-top: 10px;
					}
					.content {
						width: 100%;
						font-size: 16px;
					}
					.button {
						position: absolute;
						right: 0;
						top: 0;
					}
					.comment ~ .new.comment {
						padding-top: 10px;
					}
				}
				> td:nth-of-type(1) { order: 1 }
				> td:nth-of-type(2) { order: 3 }
				> td:nth-of-type(3) { order: 4 }
				> td:nth-of-type(4) { order: 5 }
				> td:nth-of-type(5) { order: 5 }
				> td:nth-of-type(6) { order: 2 }
			}
			// Seul le dernier commentaire est affiché en mode lecture
			.risk-row:not(.edit) {
				.comment-container .comment {
					display: none;
					&:nth-of-type(1) {
						display: flex;
					}
				}
			}
		}
	}

}
