/**
 * Formulaires présents dans les tableaux
 */

.digirisk-wrap .flex-table form, .digirisk-wrap .flex-table .form {

	input, textarea {
		background: #fff;
		border: 1px solid rgba(0,0,0,0.2);
		width: 100%;
		padding: 0.6em;
		&:focus, &:active {
			outline: none;
		}
	}
	input[type="submit"] {
		@extend .button;
		@extend .button.green;
		display: inline-block;
		width: auto;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0.6em 0;
		&:hover {
			cursor: pointer;
		}
	}
	input[type="radio"], input[type="checkbox"] {
		width: auto;
		display: inline-block;
	}

	label {
		position: static;
		display: block;
		width: 100%;
		font-size: 12px;
		font-weight: 800;
		text-transform: uppercase;
		padding: 0.8em 0 0.4em 0;
		color: rgba(0,0,0,0.6);
		&.no-style {
			font-size: 14px;
			font-weight: 400;
			text-transform: none;
			display: inline;
			padding-left: 0.4em;
		}
	}

}
