/**
 * Functions and tools
 * .cls -> Clear both après l'élément en question
 * .transition -> Modifications fluide du css sur l'élément
 */
.digirisk-wrap {

	.cls {
		&:after {
			display: table;
			content: '';
			clear: both;
		}
	}
	@mixin transition($what: all, $time: 0.4s, $transition: cubic-bezier(0.190, 1.000, 0.220, 1.000)) {
		-webkit-transition: $what $time $transition;
		-moz-transition:    $what $time $transition;
		-ms-transition:     $what $time $transition;
		-o-transition:      $what $time $transition;
		transition:         $what $time $transition;
	}
	.margin {
		margin: 10px 0;
	}

}
