/**
 * Variables de l'application
 */

/* Bleu ciel, couleur principale */
$primary: #3495f0;
$primary_dark: #1360c8;

/* Bleu fonce, couleur de l'interface */
$secondary: #272a35;

/* Autres couleurs */
$red: #e05353;
$yellow: #e9ad4f;
$green: #47e58e;
$pink: #e454a2;
$purple: #734fe9;
// $grey: #d6d6d6;
$grey: rgba(0,0,0,0.1);
