/*!
	DIGIRISK
	Created by Eoxia

	version: 7.0.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# fonticons
# Normalize
# Modules
--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "variables/variables";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
.wpeo-wrap {
	padding-right: 20px;
	* {
		box-sizing: border-box;
	}
	&::after {
		display: block;
		content: '';
		clear: both;
	}
	ul, li {
		margin: 0;
	}

	&.causerie-wrap {
		@import "page/causerie/causerie";
	}
}
.wpeo-wrap {
	// @import "normalize";
	/*--------------------------------------------------------------
	# Fonticons
	--------------------------------------------------------------*/
	@import "font/font";
	/*--------------------------------------------------------------
	# Modules
	--------------------------------------------------------------*/
	@import "element/element";
	@import "external/external";

}

@import "module/module";

/*--------------------------------------------------------------
# Import Main Menu
--------------------------------------------------------------*/
@import "element/main-menu";

/*--------------------------------------------------------------
# Temporaire à ranger
--------------------------------------------------------------*/
.wpeo-button.button-main {
	background: #3495f0;
	border-color: #3495f0;
}
.wpeo-button.button-main  i {
	color: white;
}

.wpeo-modal.modal-signature .modal-container .modal-content {
	overflow: hidden;
}


canvas {
	border: solid black 1px;
	height: 100%;
}

.causerie-wrap {
	.float.right {
		float: right;
	}
}

.digirisk-wrap .comment-container .comment .content {
	word-break: break-word;
}

.digirisk-wrap.wpeo-wrap .flex-table .table-footer .wpeo-autocomplete .autocomplete-label {
	padding: 0.2em;
}

.wrap-causerie {
	.header {
		margin-top: 50px;
	}
	.section {
		background-color: #FFF;
		padding: 10px;
	}

	#stats-causerie {
		border: none;
	}
}


.wpeo-wrap.causerie-wrap .step .step-list .step:after, .wpeo-wrap.permis-feu-wrap .step .step-list .step:after, .wpeo-wrap.prevention-wrap .step .step-list .step:after {
    position: relative;
    z-index: 90;
    display: block;
    margin: auto;
    content: '';
    width: 30px;
    height: 30px;
    top: 8px;
    background: #d6d6d6;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.wpeo-wrap .step .step-list .step:after {
    position: relative;
    z-index: 90;
    display: block;
    margin: auto;
    content: '';
    width: 14px;
    height: 14px;
    background: #d6d6d6;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.phone-bloc {
	display: flex;
}

.wpeo-wrap .wpeo-button-pulse {
	height: 47px!important;
	width: 47px!important;
}

.document-unique_page_digirisk-causerie .wpeo-wrap .wpeo-button-pulse {
	height: 36px!important;
	width: 36px!important;
}

.wpeo-wrap img.signature {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#user_switching.notice {
	display: none;
}

.toplevel_page_digirisk-welcome {
	.top-content {

		margin-top: 80px;
		margin-bottom: 50px;
		div {
			margin: auto;
			text-align: center;
		}
	}

	h2 {
	    font-weight: 700;
	    font-style: normal;
	    text-transform: uppercase;
		font-size: 26.6px;
		text-align: center;
	}

	h3 {
	    font-weight: 700;
	    font-style: normal;
    	text-transform: uppercase;
		font-size: 20px;

	}
}
/*--------------------------------------------------------------
# Fin temporaire à ranger
--------------------------------------------------------------*/
