/*!
	DIGIRISK
	Created by Eoxia

	version: 7.0.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# fonticons
# Normalize
# Modules
--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "variables/variables";

/** Temporary */
@import "_archive/style";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
.wpeo-wrap {
	padding-right: 20px;
	* {
		box-sizing: border-box;
	}
	&::after {
		display: block;
		content: '';
		clear: both;
	}
	ul, li {
		margin: 0;
	}
}
.wpeo-wrap {
	// @import "normalize";
	/*--------------------------------------------------------------
	# Fonticons
	--------------------------------------------------------------*/
	@import "font/font";
	/*--------------------------------------------------------------
	# Modules
	--------------------------------------------------------------*/
	@import "element/element";
	@import "external/external";
}

@import "module/module";
