/*!
	EOXIA FRAMEWORK CSS
	Created by Eoxia

	version: 1.2.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# fonticons
# Modules
	## Notification

--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "variables/variables";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "element/element";
