.popup.patch-note {
	.container {
		max-height: 90%;
		overflow-y: auto;

		.note {
			font-style: normal;
			margin-bottom: 2em;
		}
		img {
			max-width: 100%;
			height: auto;
			margin-top: 0.6em;
		}
		.entry-title {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0.6em;
			color: rgba(0,0,0,0.8);
		}
		.entry-content {
			font-size: 14px;
			color: rgba(0,0,0,0.6);
			strong {
				font-weight: 700;
			}
			em {
				font-style: italic;
			}
			ul, li {
				list-style-type: disc;
			}
			ul {
				margin-left: 1em;
				margin-bottom: 0.6em;
			}
			li {
				margin-left: 0.6em;
			}
			p {
				margin-bottom: 0.6em;
			}
		}
	}
}
