/* Bleu ciel, couleur principale */
$color__primary: #3495f0;
$color__primary_dark: #1360c8;

/* Bleu fonce, couleur de l'interface */
$color__secondary: #272a35;

/* Autres couleurs */
$color__red: #e05353;
$color__yellow: #e9ad4f;
$color__green: #47e58e;
$color__pink: #e454a2;
$color__purple: #898de5;
$color__grey: #ececec;
