.owl-prev {
	float: left;
	font-size: 200px;
	width: 15px;
	height: 100px;
	position: absolute;
	top: 40%;
	border: 0px solid black;
}

.owl-next {
	float: left;
	width: 15px;
	font-size: 200px;
	height: 100px;
	position: absolute;
	top: 40%;
	right: 45px;
	display: block !important;
	border: 0px solid black;
}

.owl-dots{
	margin: 50px;
}
.owl-dots .owl-dot button {
  background: none;
  border: none;
  padding-right: 10px;
  color: #555555;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.wpeo-wrap.causerie-wrap .step .step-list .step:after, .wpeo-wrap.permis-feu-wrap .step .step-list .step:after, .wpeo-wrap.prevention-wrap .step .step-list .step:after {
  position: relative;
  z-index: 90;
  display: block;
  margin: auto;
  content: '';
  width: 30px;
  height: 30px;
  top: 8px;
  background: #d6d6d6;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

 #wpfooter{
	display : none
}
