/**
 * Import des fichiers less
 */
// @import "../font-awesome/font-awesome.less";
@import "reset.less";
@import "variable.less";
@import "tools.less";
@import "animation.less";
@import "button.less";
@import "structure.less";
@import "list.less";
@import "workunit.less";
@import "tab.less";
@import "toggle.less";
@import "media.less";
@import "cotation.less";
@import "table.less";


/**
 * Propriétés générales
 */
.digirisk-wrap {

	* {
		box-sizing: border-box;
	}

	h1 {
		font-size: 18px;
		text-transform: uppercase;
		margin: 6px 0;
	}

}
