.tooltip {
	position: absolute;
	color: #FFFFFF;
	background: #000000;
	text-align: center;
	border-radius: 6px;
	line-height: 30px;
	height: 30px;
	display: none;
}

.tooltip.active {
	display: block;
}

.help {
	position: relative;
}

.help:hover:after,
.help:focus:after {
	content: attr(aria-label);
	position: absolute;
	top: -3.0em;
	left: 50%;
	transform: translateX(-50%);

	z-index: 99;
	white-space: nowrap;
	padding: 5px 14px;
	background: #413219;
	color: #fff;
	border-radius: 4px;
	font-size: 0.8rem;
}

[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -0.7em;
	left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 20px;
  color: #413219;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}
