
/* -------------------------------------
		INTERFACE
------------------------------------- */

.wp-digi-societytree-main-container {
	padding: 20px 20px 0 0;
	.cls;
	* {
		box-sizing: border-box;
	}

	> div:first-child {
		float: left;
		width: 26%;
		max-width: 260px;
	}
	> div:last-child {
		float: left;
		padding-left: 20px;
		width: 74%;
	}
	/* Left menu */
	.wp-digi-societytree-left-container {
		.wp-digi-group-header, .wp-digi-list {
			background: @c2;
		}
		.wp-digi-group-header {
			position: relative;
			display: flex;
			flex-direction: row;
			.cls;
			> *:first-child {
				width: 100%;
				margin: auto;
				text-align: center;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.wp-digi-sheet-generation-button {
				margin: 0;
				padding: 12px 4px;
				font-size: 12px;
				text-transform: none;
				text-align: center;
				&:before {
					font-size: 12px;
					line-height: 16px;
				}
			}
			> *:last-child {
				width: 40%;
			}
		}
		.wp-digi-list {
			margin: 0;
			> li {
				display: flex;
				flex-direction: row;
				height: 50px;
				margin: 0;
				padding: 0;
				color: #fff;

				.transition;
				&:hover, &.active {
					cursor: pointer;
					background: @c1;
					.wp-digi-workunit-action {
						background: @dark_c1;
					}
				}
				> * {
					margin: auto 0;
				}
				> span {

				}
				.wp-digi-workunit-action, .wp-digi-workunit-thumbnail, .wp-digi-workunit-name, .wp-digi-new-workunit-action {
					.transition;
				}
				.wp-digi-workunit-thumbnail, .wp-digi-workunit-action {
					background: @dark_c2;
				}
				.wp-digi-workunit-thumbnail {
					width: 50px;
					height: 50px;
					float: left;
					> i {
						display: flex;
						&:before {
							margin: auto;
						}
					}
				}
				.wp-digi-workunit-name {
					width: 160px;
					height: 100%;
					line-height: 50px;
					padding: 0 10px;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: rgba(255,255,255,0.8);
				}
				.wp-digi-global-name {
					width: 100%;
					line-height: 50px;
					padding-left: 10px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.wp-digi-workunit-action {
					margin-left: auto;
				}
				.wp-digi-workunit-action a, .wp-digi-new-workunit-action a {
					width: 50px;
					height: 50px;
					text-align: center;
					display: flex;
					color: rgba(255,255,255,0.4);
					&:hover {
						color: @c1;
					}
					&:before {
						margin: auto;
					}
				}
			}
			.wp-digi-new-workunit {
				span {
					margin: 0;
				}
				.wp-digi-new-workunit-name {
					width: 100%;
				}
				input[type="text"] {
					width: 100%;
					line-height: 50px;
					padding: 0 10px;
					margin: 0;
					border: 0;
				}
				.wp-digi-new-workunit-action {
					background: @c1;
					a {
						color: #fff;
					}
					&:hover {
						background: @dark_c1;
					}
				}
			}
		}
	}
	/* right menu */
	.wp-digi-societytree-right-container {
		padding-bottom: 10px;
		.wp-digi-global-sheet-header {
			background: @c2;
			height: 50px;
			display: flex;
			.cls;
			> * {
				float: left;
				color: #fff;
			}
			.wp-list-search {
				max-width: 300px;
			}
			.wp-digi-global-action-container, .wp-digi-delete-action {
				margin-left: auto;
			}
			.wp-digi-element-thumbnail {
				width: 50px;
				height: 50px;
				line-height: 50px;
				background: @dark_c2;
			}
			.wp-digi-global-name, .wp-digi-global-infos {
				line-height: 50px;
				padding-left: 10px;
			}
			.wpdigi-auto-complete {
				padding-top: 14px;
				background: rgba(255,255,255,0.4);
			}
			.wp-digi-delete-action {
				line-height: 50px;
				float: right;
				padding-right: 10px;
				color: rgba(255,255,255,0.4);
				.transition;
				i {
					line-height: 50px;
				}
				&:hover {
					cursor: pointer;
					color: @red;
				}
			}
			.wp-digi-global-infos {
				color: @c1;
			}
			.wp-digi-global-action-container {
				float: right;
				button {
					vertical-align: top;
					line-height: 30px;
					margin: 0;
					&:after {
						top: 16px;
					}
				}
			}
			input[type="text"] {
				background: @c2;
				border: 0;
				color: rgba(255,255,255,0.5);
				&:hover {
					cursor: pointer;
				}
				&:focus {
					border: 0;
					border-bottom: 1px solid #fff;
					color: rgba(255,255,255,0.8);
					box-shadow: none;
				}
			}
		}
		.wp-digi-global-sheet-content, .wp-digi-workunit-sheet-main-information {
			padding: 10px;
		}
	}
	/* Main unit informations */
	.wp-digi-workunit-sheet-main-information {
		.cls;
	}
	/* Main unit tab */
	.wp-digi-global-sheet-tab {
		display: flex;
		flex-direction: row;
		width: 100%;
		background: #e8e8e8;
		margin: 0;
		li {
			padding: 16px 10px;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			.transition;
			.wpdigi-workunit-tab-count {
				background: @c2;
				color: #fff;
				padding: 0 5px;
				border-radius: 50%;
			}
			&.disabled {
				color: rgba(0,0,0,0.2);
				&:hover {
					cursor: default;
				}
			}
			&:hover:not(.disabled) {
				cursor: pointer;
			}
			&.active:not(.wp-digi-sheet-generation-button) {
				background: @c1;
				color: #fff;
			}
		}
		.wp-digi-sheet-generation-button {
			background: @red;
			color: #fff;
			margin-left: auto;
		}
		/* Responsive sheet tab */
		&.responsive {
			display: none;
			.wp-digi-sheet-tab-responsive-content {
				width: 100%;
			}
			.wp-digi-sheet-tab-title {
				margin: auto 0;
				padding: 0 20px;
				.transition;
				&.active {
					opacity: 0;
				}
			}
			.wp-digi-sheet-tab-toggle {
				padding: 16px;
				margin-left: auto;
				margin-bottom: auto;
				background: @c1;
				i {
					color: #fff;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	.wp-digi-global-sheet-content {
		background: #fff;
		.cls;
	}
}

.wp-digi-save-sheet-container {
	text-align: center;
	padding: 12px 10px;
	font-style: italic;
	button {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		margin-left: 4px;
	}
}
