/** Bouton semblable à une liste */
.wp-digi-summon-list {
	width: 100%;
	background: #fff;
	display: block;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0;
	text-align: left;
	padding: 6px 12px;
	.cls;
	.transition;
	&:hover {
		cursor: pointer;
		border: 1px solid rgba(0,0,0,0.4);
	}
	&:focus {
		outline: none;
	}
	i {
		float: right;
		color: rgba(0,0,0,0.4);
	}
	&.navigation {
		background: @c2;
		text-align: left !important;
		padding: 0;
		text-transform: uppercase;
		border: 0;
		line-height: 50px;
		color: rgba(255,255,255,0.6);
		.wpeo-upload-media {
			float: left;
		}
		i {
			color: rgba(255,255,255,0.4);
			line-height: 50px;
			margin-right: 10px;
		}
	}
}
.wp-digi-risk-select, .wp-digi-recommendation-select {
	position: relative;
}
.wp-digi-develop-list, .wp-digi-select-list {
	position: absolute;
	z-index: 999;
}

.wp-digi-develop-list {
	background: @dark_c2;
	top: 42px;
	left: 0;
	width: 360px !important;
	margin: 0;
	ul, li {
		margin: 0;
	}
	ul.sub-menu {
		margin-left: 26px;
		border-left: 1px dashed rgba(255,255,255,0.3);
	}
	li {
		clear: both;
		div {
			display: flex;
			flex-direction: row;
			.transition;
			.wp-digi-global-name {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis; 
			}
			span {
				display: block;
				padding: 12px 16px;
				color: #fff;
				.transition;
				&:first-child {
					display: inline-block;
				}
				&.wp-digi-new-group-action {
					width: 50px;
					float: right;
					a {
						color: #fff;
					}
				}
			}
			&:hover {
				background: @c1;
				cursor: pointer;
				a {
					color: @c1;
				}
				.wp-digi-new-group-action {
					background: @dark_c1;
					color: @c1;
				}
			}
			span:first-child {
				width: 100%;
			}
			span:last-child {
				width: 50px;
				margin-left: auto;
				a {
					font-size: 14px;
					line-height: 1.6;
				}
			}
		}
		.active {
			span:first-child, span:last-child:not(.wp-digi-new-group-action)  {
				background: @c1;
			}
			span.wp-digi-new-group-action {
				background: @dark_c1;
				a {
					color: @c1;
				}
			}
		}
	}
}

.wp-digi-select-list {
	background: #fff;
	width: 800px;
	top: 50px;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
	.cls;
	.title {
		background: rgba(0,0,0,0.1);
		padding: 6px 10px;
		margin: 6px 0;
		text-transform: uppercase;
		text-align: center;
	}
	.child {
		&:hover {
			color: @c1;
			cursor: pointer;
			text-decoration: underline;
		}
	}
	&.icon {
		ul {
			border-right: 1px dashed rgba(0,0,0,0.2);
			float: left;
			padding: 6px;
			li {
				float: left;
			}
		}
	}
}
