/* -------------------------------------
		RESPONSIVE 1024px
------------------------------------- */

@media screen and (max-width: 1024px) {

	.wp-digi-global-sheet-tab {
		display: none !important;
		&.responsive {
			display: flex !important;
		}
	}

}

/* -------------------------------------
		RESPONSIVE 680px
------------------------------------- */

@media screen and (max-width: 680px) {

	.wp-digi-societytree-left-container, .wp-digi-societytree-right-container {
		width: 100% !important;
	}
	.wp-digi-societytree-left-container {
		max-width: 100% !important;
	}
	.wp-digi-societytree-right-container {
		padding: 0 !important;
		margin-top: 26px !important;
	}

}