/**
 * Step for installer
 */

.digirisk-wrap {

	.step {
		width: 100%;
		.bar {
			width: 100%;
			height: 4px;
			background: #d6d6d6;
			position: relative;
			top: 9px;
			&:before {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				height: 4px;
				width: 4%;
				background: @green;
				transition: all 0.6s linear;
			}
		}
		.step-list {
			width: 100%;
			display: flex;
			.step {
				&:before {
					display: block;
					margin: auto;
					content: '';
					width: 14px;
					height: 14px;
					background: #d6d6d6;
					border-radius: 50%;
					transition: all 0.2s ease-out;
				}
				.title {
					display: block;
					text-align: center;
					margin: auto;
					color: rgba(0,0,0,0.3);
					font-size: 14px;
					max-width: 160px;
					font-weight: 600;
					padding-top: 10px;
					transition: all 0.2s ease-out;
				}
				&:first-child {
					&:before, .title {
						margin: 0 auto 0 0;
						text-align: left;
					}
				}
				&:last-child {
					&:before, .title {
						margin: 0 0 0 auto;
						text-align: right;
					}
				}
				&.active {
					&:before {
						background: @green;
					}
					.title {
						color: @green;
					}
				}
			}
			&:after {
				display: block;
				content: '';
				clear: both;
			}
		}
	}

	.step.install {
		padding: 0 30px;
		.step-list {
			.step {
				&:first-child { width: 12.5%; }
				&:nth-of-type(2) { width: 25%; }
				&:nth-of-type(3) { width: 25%; }
				&:nth-of-type(4) { width: 25%; }
				&:last-child { width: 12.5%; }
			}
		}
	}

}
