/*!
	EOXIA FRAMEWORK CSS
	Created by Eoxia

	version: 1.2.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# fonticons
# Normalize
# Modules
	## Notification

--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "variables/variables";

/*--------------------------------------------------------------
# Fonticons
--------------------------------------------------------------*/
@import "font/font";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
.wpeo-wrap {
	@import "normalize";
	* {
		box-sizing: border-box;
	}
}

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
@import "modules/modules";
