/*!
	EOXIA FRAMEWORK CSS
	Created by Eoxia

	version: 1.2.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# fonticons
# Normalize
# Modules
	## Notification

--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "variables/variables";

/*--------------------------------------------------------------
# Fonticons
--------------------------------------------------------------*/
@import "fontawesome/fontawesome";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
.wpeo-wrap {
	@import "normalize";
	* {
		box-sizing: border-box;
	}
}

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
@import "modules/modules";

/*--------------------------------------------------------------
# Tmp Jimmy Module Screen Options
--------------------------------------------------------------*/

.wpeo-screen-options {
	text-align: right;
	width: 100%;

	.content {
		width: 99%;
		text-align: left;
		margin-left: 20px;

		.wpeo-form {
			padding: 20px;
			margin: 0;

			background-color: #3495f0;
			border: 1px solid #ccd0d4;

			li {
				width: 20%;
			}
		}

	}
}

.wpeo-modal {
	.xdsoft_datetimepicker {
		z-index: 99999!important;
	}
}
