/**
 * Search bar
 */

.digirisk-wrap {

	.statistic {
		text-align: center;

		.number {
			width: 60px;
			height: 60px;
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			text-align: center;
			padding: 0;
			margin: 0;
			line-height: 60px;
			background: $yellow;
			display: block;
			border-radius: 50%;
			margin: 0 auto 10px auto;
		}
		.label {
			text-transform: uppercase;
			color: rgba(0,0,0,0.7);
		}
		&.active {
			.number {
				background: $primary;
			}
			.label {
				color: $primary;
			}
		}
	}

}
