/**
 * Search bar
 */

.digirisk-wrap {

	.search {
		display: block;
		width: 100%;
		background: rgba(0,0,0,0.2);
		padding: 10px 16px !important;
		i {
			color: rgba(0,0,0,0.6);
			padding-top: 4px;
		}
		input {
			width: 90%;
			border: 0;
			margin: 0;
			background: none;
			box-shadow: none;
			&:focus {
				box-shadow: none;
			}
			&:hover {
				cursor: text;
			}
		}
	}

}
