
.wp-digi-elements-to-transfer {
	width: 95%;
	margin: 0 auto;
}
.wp-digi-elements-to-transfer > li {
	box-sizing: border-box;
	display: inline-block;
	width: 20%;
    border: 1px solid #000;
    border-radius: 5px;
    height: 105px;
}
.wp-digi-datastransfer-element-type-name {
	border-bottom: 1px solid #DDD;
	padding: 2px;
	text-align: center;
	height: 24px;
}

.wp-digi-datastransfer-element-type-name.dashicons-yes:before {
	color: green;
	font-size: 20px;
}

.wp-digi-datastranfer-loadingbar-container {
	position: relative;
	height: 30px;
	width: 92%;
	border: 1px solid green;
	float: left;
	margin: 0 5px;
}
.wp-digi-datastransfer-loadingbar {
	background-color: green;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0.2;
	transition: all 0.2s easy-out;
}

.wpdigi-dtransfert-main-container {
	box-sizing: border-box;
	margin: 20px 0;
}

.wpdigi-dtransfert-steps-container {
	box-sizing: border-box;
	width: 40%;
	float: left;
}
.wpdigi-dtransfert-form-container {
	box-sizing: border-box;
	margin: 2.5em 10%;
	width: 40%;
	float: left;
}

.wpeo-circlerounded {
	box-sizing: border-box;
    background: none repeat scroll 0 0 #f2f2f2;
    border: 2px solid #ccc;
    color: #ccc;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 3em;
    line-height: 2.8em;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 3em;
    z-index: 2;
    margin: 0 15px 10px 0;
}

.wpdigi-dtransfert-step-current i.wpeo-circlerounded {
    background: none repeat scroll 0 0 #e4eef9;
    border-color: #2e75bf;
    color: #2e75bf;
}

.wpdigi-dtransfert-step-progression {
	float: right;
    margin: 15px 0;
}
.wpeotm-dashboard-link-container {
	margin: 7.5em 0;
}
.wpdigi-dtransfert-form-container-step-3 .wpeotm-dashboard-link-container {
	margin: 2em 0;
}

.wpeotm-dashboard-link {
	background: none repeat scroll 0 0 #f2f2f2;
    border-color: #ccc;
    color: #000;
    text-decoration: none;
}
.wpeotm-dashboard-link:hover {
	text-decoration: underline;
}

.wpdigi-dtransfert-message-container {
	background-color: #fff;
    border-left: 4px solid #7ad03a;
    margin: 0 0 30px 20px;
    padding: 1px 12px;
    text-align: center;
    display: none;
}

.wp-digi-dtrans-userid-options-container {
	display: none;
	position: relative;
}

ul.wp-digi-datastransfer-element-type-detail {
	width: 90%;
	margin: 5px auto;
}
ul.wp-digi-datastransfer-element-type-detail li span {
	float: right;
}
.wp-digi-elements-to-transfer > li.wp-digi-transfert-components {
	width: 25%;
}
div.about-wrap.wp-digi-wrap h1 {
	margin-right: 150px;
}

#wp-digi-transfert-message {
	display: none;
}
