@import url( 'processing.css' );
@import url( 'user.css' );
@import url( 'unitetravail.css' );
@import url( 'risk.css' );

/**	Style pour l'interface en mode simple / Style for simple interface mode	*/
.wp-digi-societytree-main-container {
	margin: 20px 0 0;
}
.wp-digi-societytree-main-container > div {
	float: left;
	border-radius: 5px;
	margin: 0 20px 0 0;
}
.wp-digi-societytree-left-container {
	max-width: 290px;
}
.wp-digi-societytree-right-container {
	width: 74%;
	min-height: 100px;
}

/**	Styles pour les listes / Styles for lists*/
/* .wp-digi-list {
	display: table;
	width: 100%;
}
.wp-digi-list > li {
	display: table-row;
}
.wp-digi-list > li > span {
	display: table-cell;
} */

.wp-digi-list {
	display: flex;
	flex-direction: column;
}
.wp-digi-list > li {
	display: flex;
	width: 100%;
	margin-bottom: 0px;
}

/**
 * Styles globaux / Global styles
 */
.wp-digi-action.dashicons {
  font-size: 35px;
  color: #FFFFFF;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.wp-digi-action.dashicons.dashicons-plus {
	font-size: 30px;
	line-height: 53px;
	height: 50px;
}
.wp-digi-action.dashicons.dashicons-no-alt {
	background-color: #E6E6E6;
}
.wp-digi-action.dashicons.dashicons-no-alt:hover {
	color: #F78181;
}
a.wpdigi-element-thumbnail {
	width: 200px;
	height: 150px;
	text-decoration: none;
}

/**
 * Styles pour le nom du groupement ou le selecteur de groupement / Styles for group name or for group selector
 */
.wp-digi-group-header {
	color: #FFFFFF;
	background-color: #424242;
	border-bottom: 1px solid #CCCCCC;
	line-height: 50px;
}
.wp-digi-group-header select {
	width: 80%;
	margin: 0 0 0 25px;
}
.wp-digi-group-header div {
	width: 80%;
	margin: 0 auto;
}



.wpdigi-no-thumnbail {
	width: 200px;
	height: 150px;
	line-height: 150px;
	font-size: 100px;
	color: #E6E6E6;
	background-color: #DDD;
}


/**	Styles pour la pagination / Pagination styles	*/
.wp-eo-pagination {
	margin: 12px 0;
}
.wp-eo-pagination .page-numbers {
	border: 1px solid #DDD;
	background-color: #FFF;
	width: 20px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #000;
	margin: 0px;
	float: left;
}
.wp-eo-pagination .page-numbers .dashicons {
	height: 29px;
	line-height: 29px;
}
.wp-eo-pagination .page-numbers.current {
	color: #FFF;
	background-color: #58ACFA;
}
.wp-eo-pagination .page-numbers.next, .wp-eo-pagination .page-numbers.prev {
	color: #CCC;
	background-color: #E6E6E6;
}


/**	Ecrasement des styles pour les éléments des listes / Overwrite color and background color on list element	*/
.wp-digi-list-workunit li > span.wp-digi-new-workunit-action, li span.wp-digi-action-new .dashicons {
	background-color: #58ACFA;
}
li span.wp-digi-action-new {
	text-align: right;
	background-color: transparent;
}
li.odd {
	background-color: #E6E6E6;
}
li.even {}
.wp-digi-list-item.active {
	background-color:	#58ACFA;
	color: #FFF;
}
.wp-digi-list-item.active {
	background-color:	#58ACFA;
	color: #FFF;
}
.wp-digi-list-item.active > span wp-digi-action.dashicons {
	color: #81DAF5;
}
.wp-digi-clearer:after {
	content: "";
	clear: both;
	display: table;
}

/** Les risques */
.wp-digi-risk-item-new form, .wp-digi-list-item form {
	width: 100%;
	display: flex;
}
.wp-digi-risk-list-header .wp-digi-risk-list-column-thumbnail, .wp-digi-list-item .wp-digi-risk-thumbnail, .wp-digi-risk-item-new .wp-digi-risk-thumbnail {
	width: 5% !important;
}