/**	
 * Styles pour les listes (unités de travail) / Styles for lists (work unit)
 */
.wp-digi-list-workunit > li > span:first-child {
	width: 100%;
}
.wp-digi-list-workunit > li > span:last-child {
	width: 20%;
}

.wp-digi-list-workunit li {
	cursor: pointer;
}
.wp-digi-list-workunit li > span {
	color: #FFFFFF;
	background-color: #2E2E2E;
	border-bottom: 1px solid #CCCCCC;
}
.wp-digi-list-workunit li:hover, .wp-digi-list-workunit li:hover > span, .wp-digi-list-workunit li.active > span {
	background-color: #58ACFA !important;
	color: #FFF;
}
/**	Work unit thumbnail part	*/
.wp-digi-list-workunit li span .wp-digi-element-thumbnail {
	width: 50px;
	float: left;
	margin: 0 10px 0 0;
}
.wp-digi-list-workunit li span i.dashicons.wp-digi-element-thumbnail {
	color: #888888;
	line-height: 50px;
	font-size: 45px;
}
/**	Work unit name part	*/
.wp-digi-workunit-name {
	background-color: #424242 !important;
	line-height: 50px;
	height: 50px;
}
/**	Work unit action part	*/
.wp-digi-workunit-action, .wp-digi-new-workunit-action {
	width: 50px;
	height: 50px;
	vertical-align: top;
}
.wp-digi-workunit-action .dashicons-no-alt {
	color: #424242;
}
/**	Work unit creation line	*/
.wp-digi-workunit.wp-digi-new-workunit > span {
	border: 0px;
}
.wp-digi-new-workunit-name input {
	width: 100%;
	heihgt: 50px;
	line-height: 50px;
	margin: 0px;
	padding: 0px 10px;
	border: 0px;
}
/**	Work unit simple sheet	*/
.wp-digi-workunit-infos {
	color: #CCCCCC;
}
.wp-digi-workunit-sheet-header {
	color: #FFFFFF;
	background-color: #424242;
	height: 50px;
	line-height: 50px;
}
.wp-digi-workunit-sheet-header-action {
	float: right;
	display: none;
}
.wp-digi-workunit-sheet-header-action.save-in-progress {
	display: block;
}
.wp-digi-workunit-sheet-header .wp-digi-element-thumbnail {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 15px;
}
.wp-digi-workunit-sheet-header .wp-digi-element-thumbnail.dashicons {
	font-size: 50px;
}
.wp-digi-workunit-sheet-main-information {
	width: 100%;
}
.wp-digi-workunit-sheet-main-information > li {
	display: inline-block;
	float: left;
	height: 150px;
}
.wp-digi-workunit-sheet-main-information > li {
	width: 30%;
	margin: 0 10px 0 0;
}
.wp-digi-workunit-sheet-main-information > li.wp-digi-workunit-sheet-galerypics {
	width: 350px;
}
.wp-digi-workunit-sheet-main-information > li.wp-digi-workunit-sheet-stats {
	background-color: #E6E6E6;
}
.wp-digi-workunit-sheet-description {
	overflow-y: auto;
	width: auto;
}
.wp-digi-workunit-sheet-tab {
	background-color: #E6E6E6;
	width: 100%;
	margin: 0;
}
.wp-digi-workunit-sheet-tab li {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	cursor: pointer;
	margin: 0px;
	float: left;
}
.wp-digi-workunit-sheet-tab li.disabled {
	cursor: not-allowed;
	background-color: initial !important;
	color: #CCC;
}
.wp-digi-workunit-sheet-tab li.dashicons {
	margin-top: 13px;
}
.wp-digi-sheet-generation-button {
	color: #FFF;
	background-color: #FA5858;
}
.wp-digi-workunit-sheet-tab li.wp-digi-sheet-generation-button {
	float: right;
}
.wp-digi-sheet-generation-button.active {
	background-color: #58ACFA !important;
}
.wp-digi-workunit-action-container {
	width: 20%;
	float: right;
	text-align: right;
	padding: 0 10px 0 0;
	height: 50px;
}
.wp-digi-input-editable {
	border: 0px solid #000 !important;
	background-color: initial !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input[type=text].wp-digi-input-editable {
	color: #FFF;
}
.wp-digi-workunit-sheet-description textarea.wp-digi-input-editable {
	color: #000;
}
input[type=text].wp-digi-input-editable:focus, input[type=text].wp-digi-input-editable.active, .wp-digi-workunit-sheet-description textarea:focus, .wp-digi-workunit-sheet-description textarea.active {
	background-color: #FFF !important;
	color: #000;
}
.wp-digi-workunit-sheet-description textarea {
	width: 100%;
	height: 99%;
	resize: none;
}

.wp-digi-workunit-sheet-stats label {
	font-weight: bold;
}
.wp-digi-workunit-sheet-stats > ul {
    margin: 10% auto;
    width: 80%;
}
.wp-digi-workunit-sheet-stats li::after {
    clear: both;
    content: "";
    display: table;
}
.wp-digi-workunit-sheet-stats li {
    display: inline-block;
    float: left;
    width: 50%;
}
.wpdigi-workunit-tab-count {
	color: #FFF;
	background-color: #000;
	border-radius: 10px;
	padding: 0 5px;
}