/*--------------------------------------------------------------
	Module : Util
	Version : 1.0.0

	Contient toutes les classes utilitaires
	.wpeo-util-hidden -> Masque l'élément
--------------------------------------------------------------*/

.wpeo-util-hidden {
	display: none;
}
